:root {
    --headColor: rgb(253, 255, 151);
    --bodyColor: #fff;
    --gameBoardColor: rgb(22, 18, 18);
    --bodyImage: url("https://image.freepik.com/free-vector/abstract-shapes-pattern-design_1197-21.jpg");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    padding: 0 10%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
}

.container.invert {
    filter: invert(1);
}

.game {
    border: 5px solid rgb(48, 48, 48);
    width: 80vmin;
    height: 80vmin;
    background-color: var(--gameBoardColor);
    display: grid;
}

.control {
    height: 80vmin;
    width: 20vmin;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #ddd;
}

.control>h1 {
    font-size: 3rem;
    margin-bottom: 100px;
}

.control>span {
    font-size: 2rem;
}

.mode {
    border: none;
    padding: 10px 20px;
    outline: none;
    border-radius: 10px;
}

.body.head {
    background-image: none;
    background-color: var(--headColor);
}

.body {
    /* background-color: rgb(230, 255, 6); */
    background-image: var(--bodyImage);
    background-attachment: fixed;
}

.food {
    border: 0.2px black solid;
    background-color: rgb(201, 53, 53);
    border-radius: 50%;
    position: relative;
}